RewriteEngine On
DirectorySlash Off
RewriteBase /photos/

# Avoid rewriting for the main.php file itself
RewriteCond %{REQUEST_URI} !^/photos/main.php$

# Internal rewrite without changing the URL
RewriteRule ^([^/]+)/?$ main.php?c=$1 [L,QSA]