/*******************************************************/
/*   This file is part of 'my Little Photo Website'    */
/* It is published on github under the LGPLv3 License: */
/*  https://github.com/lomjek/my-Little-Photo-Website  */
/*******************************************************/

#open_update {
    text-align: right;
    cursor: pointer;
    font-size: clamp(0.7rem, 3vw, 1.5rem);
}

#Title {
    font-size: clamp(1rem, 10vw, 7rem);
}

#maintenance {
    font-size: clamp(1rem, 3vw, 1.75rem);
}


#iod_img {
    max-width: calc(100vw - 40px);
}

#iod_container {
    display:flex; 
    justify-content: center;
}

#iod_link {
    cursor: pointer;
    margin-top: 0%;
    float: right;
    text-align: right;
    font-size: clamp(0.7rem, 3vw, 1.5rem);
}

#iod_description {
    word-wrap: break-word;
    margin-top: 2vh;
    font-size: clamp(1rem, 3vw, 1.75rem);
}

#iod_title {
    font-size: clamp(1rem, 5vw, 3rem);
}

@media (min-width: 600px) {
    #iod_container {
        display: block;
    }

    #iod_img {
        max-width: 50%;
        float: left;
        margin-bottom: 1vh;
    }

    #iod_link {
        font-size: clamp(0.7rem, 3vw, 1.75rem);
    }

    #iod_description {
        max-width: 45%;
        float: right;
        text-align: left;
    }
}

@media (min-width: 1200px) {
    #iod_img {
        max-width: 30%;
    }

    #iod_link {
        font-size: 1.75rem;
    }

    #iod_description {
        max-width: 65%;
        font-size: 1.75rem;
    }
}

#about_title {
    font-size: clamp(1rem, 5vw, 3rem);
}

#about_content {
    font-size: clamp(1rem, 3vw, 1.75rem);
}

#collections_title {
    font-size: clamp(1rem, 5vw, 3rem);
}

#collection_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.collections_content {
    width: 90%;
    min-width: fit-content;
    border-radius: 10vh;
    margin: 1%;
    padding: 1%;
    display: flex;
    flex-direction: column;
}

.collections_title {
    font-size: clamp(1.25rem, 3.5vw, 2rem);
    text-align: center;
    margin-left: 2%;
}

.collections_img_count {
    font-size: clamp(0.7rem, 2.5vw, 1.5rem);
    text-align: center;
}

@media (min-width: 600px) {
    .collections_content {
        flex-direction: row;
    }

    .collections_img_count {
        align-self: center;
        margin-left: auto;
        margin-right: 2%;
    }
}