RewriteEngine On
RewriteBase /photo/

# main.php problem
# Avoid rewriting for the main.php file itself
RewriteCond %{REQUEST_URI} !^/photo/viewer.php$

# Redirect any subfolder under /photos/ to main.php with query parameter c
RewriteRule ^([^/]+)/(.+)$ viewer.php?s=$1&f=$2 [L]