/*******************************************************/
/*   This file is part of 'my Little Photo Website'    */
/* It is published on github under the LGPLv3 License: */
/*  https://github.com/lomjek/my-Little-Photo-Website  */
/*******************************************************/

body {
	margin: 0;
	padding: 0;
	background-color: #000;
}

#toolbox {
	position: fixed;
	display: flex;
	flex-direction: row;
	top: 0;
	left: 0;
	width: 100%;
	align-items: center;
	background: linear-gradient(180deg, #000000cc 75%, #00000000 100%);
	opacity: 0;
	transition: opacity 0.5s ease-in-out;
}

#toolbox:hover {
	opacity: 1;
}

.tool {
	height: clamp(7vh, 7vw, 5rem);
	margin-bottom: 15px;
}

h2 {
	justify-self: center;
	align-self: center;
	color: #aaa;
}

.padding {
	flex: 1;
}

.extra_padding {
	width: calc(clamp(7vh, 7vw, 5rem) * 2);
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100vh;
	overflow: hidden;
}

.container img {
	max-width: 100%;
	max-height: 100%;
	object-fit: contain;
}

#img {
	pointer-events: none;
}

#description_container {
	position: fixed;
	display: none;
	flex-direction: row;
	place-items: center;
	bottom: 0;
	width: 100%;
	align-items: center;
	justify-content: center;
	background: linear-gradient(0deg, #000000cc 75%, #00000000 100%);
}

#description {
	font-size: clamp(0.7rem, 2.5vw, 1.65rem);
	text-align: center;

	color: #aaa;
	margin-bottom: 10px;
	margin-top: 30px;
}