/*****************************************************/
/*  This file is part of 'my Little Photo Website'   */
/* It is published on github under the MIT License:  */
/* https://github.com/lomjek/my-Little-Photo-Website */
/*****************************************************/

body {
    margin: 0;
    padding: 0;
    background-color: #000;
}

#toolbox {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    background-color: #000000aa;
}

.tool {
    height: clamp(7vh, 10vw, 6rem);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.container img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

#img {
    pointer-events: none;
}

#description {
    position: fixed;
    font-size: clamp(1rem, 3vw, 1.75rem);
    display: none;

    color: #aaa;
    background-color: #000000aa;

    margin-bottom: 0;
    bottom: 0;

    margin-top: 20px;
    border: 10px solid transparent;

}