/*******************************************************/
/*   This file is part of 'my Little Photo Website'    */
/* It is published on github under the LGPLv3 License: */
/*  https://github.com/lomjek/my-Little-Photo-Website  */
/*******************************************************/

#leave {
	cursor: pointer;
	font-size: clamp(0.7rem, 3vw, 1.5rem);
}

div, input, body, textarea, button, select, option{
	background-color: var(--bg_color, "#aaaaaa");
}

input, textarea, button, select, option, label, h2{
	color: var(--tx_color, "#333333");
}
hr{
	background-color: var(--tx_color, "#333333");
}

#Title {
	font-size: clamp(1rem, 10vw, 7rem);
	text-align: center;
	width: min-content;
	max-width: 95vw;
	field-sizing: content;
}

#delete {
	font-size: clamp(1rem, 4vw, 5rem);
}

#desc {
	text-align: center;
	font-size: clamp(0.8rem, 5vw, 2rem);
	margin-bottom: 2vh;
	width: 95vw;
}

label {
	font-size: clamp(0.7rem, 3vw, 1.5rem);
}

select {
	font-size: clamp(0.7rem, 3vw, 1.5rem);
}

#delete_collection {
	text-align: center;
	font-size: clamp(1rem, 20vw, 5rem);
	width: fit-content;
}

h3 {
	font-size: clamp(0.3rem, 5vw, 2rem);
	clear: both;
}

.imgParent {
	margin-bottom: 10px;
	flex-direction: column;
	display: flex;
	width: 99%;
}

.imgNameLabel {
	font-size: clamp(0.5rem, 3vw, 1.5rem);
	margin-bottom: 5px;
	width: 100%;
}

.imgElement {
	width: 100%;
	height: auto;
}

.imgCaption {
	margin-top: 10px;
	width: 100%;
	font-size: clamp(0.5rem, 3vw, 1.5rem);
	resize: vertical;
}

.imgDeleteButton {
	font-size: clamp(0.5rem, 3vw, 1.5rem);
	margin-top: 5px;
	width: 100%;
}