/*******************************************************/
/*   This file is part of 'my Little Photo Website'    */
/* It is published on github under the LGPLv3 License: */
/*  https://github.com/lomjek/my-Little-Photo-Website  */
/*******************************************************/

#leave {
	cursor: pointer;
	font-size: clamp(0.7rem, 3vw, 1.5rem);
}

#Title {
	font-size: clamp(1rem, 10vw, 7rem);
	text-align: center;
	width: 100%;
}

#delete {
	font-size: clamp(1rem, 4vw, 5rem);
}

#desc {
	text-align: center;
	font-size: clamp(0.8rem, 5vw, 2rem);
	margin-bottom: 2vh;
	width: 100%;
}

label {
	font-size: clamp(0.7rem, 3vw, 1.5rem);
}

select {
	font-size: clamp(0.7rem, 3vw, 1.5rem);
}

#delete_collection {
	text-align: center;
	font-size: clamp(1rem, 20vw, 5rem);
	width: 100%;
}

h3 {
	font-size: clamp(0.3rem, 5vw, 2rem);
	clear: both;
}

#image_container {
	display: grid;
	place-items: center;
	grid-auto-flow: dense;
	gap: 5px;
}

.ar_33 {
	grid-row: span 4;
	grid-column: span 1;
}

.ar_44 {
	grid-row: span 3;
	grid-column: span 1;
}

.ar_66 {
	grid-row: span 2;
	grid-column: span 1;
}

.ar_133 {
	grid-row: span 1;
	grid-column: span 1;
}

@media (min-width: 600px) {
	#image_container {
		grid-template-columns: repeat(2, 1fr);
	}

	.ar_268 {
		grid-row: span 1;
		grid-column: span 2;
	}
	.ar_402 {
		grid-row: span 1;
		grid-column: span 2;
	}
	.ar_536 {
		grid-row: span 1;
		grid-column: span 2;
	}
}
@media (min-width: 900px) {
	#image_container {
		grid-template-columns: repeat(3, 1fr);
	}

	.ar_402 {
		grid-row: span 1;
		grid-column: span 3;
	}
	.ar_536 {
		grid-row: span 1;
		grid-column: span 3;
	}
}
@media (min-width: 1200px) {
	#image_container {
		grid-template-columns: repeat(4, 1fr);
	}

	.ar_536 {
		grid-row: span 1;
		grid-column: span 4;
	}
}

.imgParent {
	margin-bottom: 10px;
	flex-direction: column;
}

.imgNameLabel {
	font-size: clamp(0.5rem, 3vw, 1.5rem);
	margin-bottom: 5px;
	width: 100%;
}

.imgElement {
	width: 100%;
	height: auto;
}

.imgCaption {
	margin-top: 10px;
	width: 100%;
	font-size: clamp(0.5rem, 3vw, 1.5rem);
	resize: vertical;
}

.imgDeleteButton {
	font-size: clamp(0.5rem, 3vw, 1.5rem);
	margin-top: 5px;
	width: 100%;
}