/*******************************************************/
/*   This file is part of 'my Little Photo Website'    */
/* It is published on github under the LGPLv3 License: */
/*  https://github.com/lomjek/my-Little-Photo-Website  */
/*******************************************************/

#Title {
    font-size: clamp(1rem, 10vw, 7rem);
}

.Home {
    text-align: left;
    cursor: pointer;
    width: clamp(0.7rem, 8vw, 4rem);
    height: clamp(0.7rem, 8vw, 4rem);
}

#desc {
    text-align: center;
    font-size: clamp(0.8rem, 5vw, 2rem);
    margin-bottom: 2vh;
}

#image_container {
    display: grid;
    place-items: center;
    grid-auto-flow: dense;
    gap: 5px;
}

.ar_33 {
    grid-row: span 4;
    grid-column: span 1;
}

.ar_44 {
    grid-row: span 3;
    grid-column: span 1;
}

.ar_66 {
    grid-row: span 2;
    grid-column: span 1;
}

.ar_133 {
    grid-row: span 1;
    grid-column: span 1;
}

img a {
    object-fit: cover;
    overflow: hidden;
}

@media (min-width: 600px) {
    #image_container {
        grid-template-columns: repeat(2, 1fr);
    }

    .ar_268 {
        grid-row: span 1;
        grid-column: span 2;
    }
    .ar_402 {
        grid-row: span 1;
        grid-column: span 2;
    }
    .ar_536 {
        grid-row: span 1;
        grid-column: span 2;
    }
}
@media (min-width: 900px) {
    #image_container {
        grid-template-columns: repeat(3, 1fr);
    }

    .ar_402 {
        grid-row: span 1;
        grid-column: span 3;
    }
    .ar_536 {
        grid-row: span 1;
        grid-column: span 3;
    }
}
@media (min-width: 1200px) {
    #image_container {
        grid-template-columns: repeat(4, 1fr);
    }

    .ar_536 {
        grid-row: span 1;
        grid-column: span 4;
    }
}

.imgs {
    max-width: 100%;
}
