/*******************************************************/
/*   This file is part of 'my Little Photo Website'    */
/* It is published on github under the LGPLv3 License: */
/*  https://github.com/lomjek/my-Little-Photo-Website  */
/*******************************************************/

#Title {
	font-size: clamp(1rem, 10vw, 7rem);
}

.Home {
	text-align: left;
	cursor: pointer;
	width: clamp(0.7rem, 8vw, 4rem);
	height: clamp(0.7rem, 8vw, 4rem);
}

#desc {
	text-align: center;
	font-size: clamp(0.8rem, 5vw, 2rem);
	margin-bottom: 2vh;
}

img {
	object-fit: fill;
	width: 100%;
	height: 100%;
	display: block;
	overflow: hidden;
}

.imgs {
	max-width: 100%;
}
