/*****************************************************/
/*  This file is part of 'my Little Photo Website'   */
/* It is published on github under the MIT License:  */
/* https://github.com/lomjek/my-Little-Photo-Website */
/*****************************************************/

h1 {
	text-align: center;
	color: #333;
	font-size: clamp(1rem, 20vw, 5rem);
	font-family: 'Dejavu Serif', Serif-serif;
}
h2 {
	font-size: clamp(0.4rem, 10vw, 3rem);
	color: #333;
	font-family: 'Dejavu Serif', Serif-serif;
	clear: both;
}
h3 {
	font-size: clamp(0.3rem, 5vw, 2rem);
	color: #333;
	font-family: 'Dejavu Serif', Serif-serif;
	clear: both;
}
hr {
	height: 5px;
	background-color: #333;
	clear: both;
}
p {
	font-family: 'Dejavu Serif', Serif-serif;
}
footer{
	font-family: 'Dejavu Serif', Serif-serif;
}

body {
	background-color: #aaa;
}

table {
	width: 98%;
	min-width: fit-content;
	border-radius: 50px;
	margin: 1%;
}
td{
	width: 25%;
}

.thumbnail_right {
	float: right;
	width: 48%;
	padding: 1%;
}
.thumbnail_left {
	float: left;
	padding: 1%;
	width: 48%;
}

#open_update{
	text-align: right;
}
#iod_img{
	width: 50%;
}
#iod_d{
	float: right;
	max-width: 50%;
	word-wrap: normal;
	text-align: right;
}