/*******************************************************/
/*   This file is part of 'my Little Photo Website'    */
/* It is published on github under the LGPLv3 License: */
/*  https://github.com/lomjek/my-Little-Photo-Website  */
/*******************************************************/

*:not(button):not([type="button"]):not([type="submit"]):not([type="reset"]) {
	border: 0;
}

.Home {
    text-align: left;
    cursor: pointer;
    width: clamp(0.7rem, 8vw, 4rem);
    height: clamp(0.7rem, 8vw, 4rem);
}

h1 {
	text-align: center;
	color: #333;
	font-family: 'Dejavu Serif', Serif-serif;
}
h2 {
	color: #333;
	font-family: 'Dejavu Serif', Serif-serif;
}
h3 {
	color: #333;
	font-family: 'Dejavu Serif', Serif-serif;
}
h4 {
	color: #333;
	font-family: 'Dejavu Serif', Serif-serif;
}

hr {
	background-color: #333;
	clear: both;
	width: 100%;
	margin-top: 1vh;
	margin-bottom: 1vh;
	padding-bottom: 1vh;
	border: none;
}

p {
	font-family: 'Dejavu Serif', Serif-serif;
}
footer{
	font-family: 'Dejavu Serif', Serif-serif;
}
body {
	background-color: #aaa;
	margin: 0;
}

.margin_10_px {
	margin-left: 10px;
	margin-right: 10px;
} 

td{
	width: 25%;
}