/*****************************************************/
/*  This file is part of 'my Little Photo Website'   */
/* It is published on github under the MIT License:  */
/* https://github.com/lomjek/my-Little-Photo-Website */
/*****************************************************/

h1 {
	text-align: center;
	color: #333;
	font-family: 'Dejavu Serif', Serif-serif;
}
h2 {
	color: #333;
	font-family: 'Dejavu Serif', Serif-serif;
}
h3 {
	color: #333;
	font-family: 'Dejavu Serif', Serif-serif;
}
h4 {
	color: #333;
	font-family: 'Dejavu Serif', Serif-serif;
}

hr {
	background-color: #333;
	clear: both;
	margin-top: 1vh;
	margin-bottom: 1vh;
	padding-bottom: 1vh;
	border: none;
}

p {
	font-family: 'Dejavu Serif', Serif-serif;
}
footer{
	font-family: 'Dejavu Serif', Serif-serif;
}
body {
	background-color: #aaa;
}

td{
	width: 25%;
}