/*******************************************************/
/*   This file is part of 'my Little Photo Website'    */
/* It is published on github under the LGPLv3 License: */
/*  https://github.com/lomjek/my-Little-Photo-Website  */
/*******************************************************/

#Title {
    font-size: clamp(1rem, 10vw, 5rem);
}

table {
    border-collapse: collapse;
    width: 100%;
}

