RewriteEngine On
RewriteBase /update/delete

# main.php problem
# Avoid rewriting for the main.php file itself
RewriteCond %{REQUEST_URI} !^/photo/index.php$

# Redirect any subfolder under /photos/ to main.php with query parameter c
RewriteRule ^([^/]+)/(.+)$ index.php?s=$1&f=$2 [L]